
  /*CSS for the Gallery Page*/
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img{
    width: 350px;
       height:auto;
   }
  dt{
  font-size: 20px;
  font-weight: bold;
  font-style:italic;
  text-decoration: underline;
  }
  #ArtList
  {
  text-align:center;
  }